<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Ira Horecka's website">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'>
    <link rel="icon" href="{{ url_for('static', filename="images/hand-lizard-o.png") }}" title="GitHub">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/cards.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/main.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/nav.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/style.min.css') }}">
    <!-- App icons for mobile -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='images/app-icons/57.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='images/app-icons/72.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='images/app-icons/114.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='images/app-icons/144.png') }}">
    <link rel="apple-touch-icon" sizes="60×60" href="{{ url_for('static', filename='images/app-icons/60.png') }}">
    <link rel="apple-touch-icon" sizes="76×76" href="{{ url_for('static', filename='images/app-icons/76.png') }}">
    <link rel="apple-touch-icon" sizes="120×120" href="{{ url_for('static', filename='images/app-icons/120.png') }}">
    <link rel="apple-touch-icon" sizes="152×152" href="{{ url_for('static', filename='images/app-icons/152.png') }}">
    <link rel="apple-touch-icon" sizes="180×180" href="{{ url_for('static', filename='images/app-icons/180.png') }}">
    <link rel="icon" sizes="128×128" href="{{ url_for('static', filename='images/app-icons/128.png') }}">
    <script src="{{ url_for('static', filename="external/jquery-3.5.1.min.js") }}"></script>
    <script src="{{ url_for('static', filename="js/nav.js") }}"></script>
    {%- block js -%}
    {%- endblock js -%}
    <script defer src="{{ url_for('static', filename="external/iconify-1.0.7.min.js") }}"></script>
    <script defer src="{{ url_for('static', filename="external/headroom-0.9.4.min.js") }}"></script>
    <title>Ira Horecka | {{ content.title }}</title>
  </head>
  <body class="bg-white font-sans">
    <header class="header header--fixed" role="banner">
      <nav class="site-nav site-header max-w-7xl m-auto">
        <div class="nav-left">
          <a href="{{ url_for('main.home') }}" class="title hover:underline">irahorecka.com</a>
        </div>
        <div class="nav-right">
          <a href="{{ url_for('main.home') }}" class="hover:underline">home</a>
          <a href="{{ url_for('housing.home') }}" class="hover:underline">housing</a>
          <a href="{{ url_for('main.projects') }}" class="hover:underline">projects</a>
          <a href="javascript:void(0);" class="nav-toggle">☰</a>
        </div>
      </nav>
    </header>
    <div class="container px-8 pt-8 pb-16 m-auto mt-0 lg:mt-16 flex flex-col lg:flex-row">
      <div class="flex flex-row lg:flex-col content-between w-32 lg:w-48 mt-0 lg:mr-16">
        <img src="{{ url_for('static', filename=['images/{}'.format(content.profile_img)]) }}" class="p-1 border-1 w-32 xl:w-48 h-32 xl:h-48 rounded-full shadow-lg">
        <div class="text-left text-base m-auto lg:mt-9 ml-6 lg:ml-2">
          <ul class="font-medium">
            <li><p class="text-gray-500 mb-1 lg:mb-3 w-32 md:w-48 lg:w-full">Student</p></li>
            <li>
              <a class="inline-flex hover:underline" href="https://github.com/irahorecka" rel="noopener noreferrer" target="_blank" onclick="this.blur();">
              <img src="{{ url_for('static', filename="images/github.svg") }}" class="fa-icon m-auto mr-2">GitHub
              </a>
            </li>
            <li>
              <a class="inline-flex hover:underline" href="https://www.linkedin.com/in/ira-horecka-3a8877128/" rel="noopener noreferrer" target="_blank" onclick="this.blur();">
              <img src="{{ url_for('static', filename="images/linkedin.svg") }}" class="fa-icon linkedin-blue max-h-4 m-auto mr-2">LinkedIn
              </a>
            </li>
            <li>
              <a class="inline-flex hover:underline" href="mailto:ira.horecka@yahoo.com" rel="noopener noreferrer" target="_blank" onclick="this.blur();">
              <img src="{{ url_for('static', filename="images/mail.svg") }}" class="fa-icon mail-gray m-auto mr-2">Mail
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="flex flex-col blog max-w-3xl">
        {%- block content -%}
        {%- endblock content -%}
      </div>
    </div>
    {%- block script -%}
    {%- endblock script -%}
  </body>
</html>
