{% extends "layout.html" %}
{% block content %}
<h1 class="font-extrabold tracking-tight text-gray-900 text-4xl mt-8 lg:mt-0 sm:text-5xl lg:text-6xl">Ira Horecka</h1>
<p class="mt-6 text-xl leading-8 text-gray-500">
  Hello, I'm Ira. I enjoy computer programming and am currently pursuing a PhD in computational biology at the University of Toronto.
</p>
<div class="pt-12 sm:pt-16">
  <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">About me</h2>
  <div class="mt-6 space-y-6 text-base leading-7 text-gray-500">
    <p>
      I come from a background in biochemistry and molecular biology, with prior experience as a lab automation engineer before jumping into my PhD studies.
      I began programming five years ago and have enjoyed it since. 
      When I'm not at the computer, I spend time bass fishing and refurbishing bicycles.
    </p>
    <p>
      If you're looking to find housing in the SF Bay Area, check out my
      <a href="{{ url_for('housing.index') }}" class="text-blue-700 hover:underline">housing widget</a>.
      If you're a developer, you can also access housing data through a
      <a href="{{ url_for('housing.docs') }}" class="text-blue-700 hover:underline">REST API</a>.
    </p>
  </div>
</div>
{% endblock content %}
