{% if content.posts|length > 0 %}
<div class="h-96 md:h-80 lg:h-96 fixed-head border-2 border-gray-200 overflow-y-auto mt-10">
  <table class="table-fixed sm:table-auto border-separate w-full mx-auto">
    <thead>
      <tr>
        <th class="text-xs sm:text-base fixed-head p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 table-cell">Title</th>
        <th class="text-xs sm:text-base fixed-head p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 table-cell">Price</th>
        <th class="text-xs sm:text-base fixed-head p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 table-cell">BDRM</th>
        <th class="text-xs sm:text-base fixed-head p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 table-cell">Score</th>
      </tr>
    </thead>
    <tbody>
    {% include "housing/tbody.html" %}
    </tbody>
  </table>
</div>
{% else %}
<div class="text-center mt-10 xs:m-16">
  <div class="inline rounded bg-white border py-1 px-3 text-md font-bold m-auto">Not Available</div>
</div>
{% endif %}
